* {
    box-sizing: border-box;
}

.redAsterisk {
    color: red;
}

a:link {
    color: #5C7FA3;
}

a:visited {
    color: #344873;
}

a:hover {
    color: #a52a2a;
    background-color: blue;
    font-size: 1.10em;
}

#wrapper {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    /*
    background-image: linear-gradient(to bottom, white, lightblue);
    background-color: white;
    box-shadow: 5px 5px 5px black;
    width: 80%;
    background-repeat: no-repeat;
    min-width: 960px;
    max-width: 2048px;
    */
}

body {
    margin: 0;
    background-color: #90c7e3;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

header {
    padding: 1em;
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, serif;
    /*
    height: 120px;
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height:72px;
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, serif;
    */
}

header a {
    text-decoration: none;
}

header a:link {
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    color: lightblue;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    /*
    letter-spacing: .25em;
    padding-top: .5em;
    */
}

h2 {
    color: #1976D2;
    font-family: Georgia, serif;
}

h3 {
    font-family: Georgia, serif;
}

nav {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    background-color: #FFFFFF;

    /* background-color: #BBDEFB;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    position: fixed;
    float: left;
    width: 160px;
    padding: 0px;
    */
}
nav a { text-decoration: none;}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding-left: 0;
}

nav li {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid;
}

dt {
    font-weight: bold;
    color: #002171;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    padding: 1em;
    font-size: .70em;
    font-style: italic;
    text-align: center;
    background-color: white;
    /* margin-left: 170px; */
}

main {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    /*
    background-color: white;
    margin-left: 170px;
    overflow: auto;
    */
}

#homehero {
    height: 300px;
    background-image: url(../images/coast.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    /* margin-left: 170px; */
}

#trailhero {
    height: 300px;
    background-image: url(../images/trail.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    /* margin-left: 170px; */
}

#yurthero {
    height: 300px;
    background-image: url(../images/yurt.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    /* margin-left: 170px; */
}

#reshero {
    height: 300px;
    background-image: url(../images/ocean.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

section {
    padding-left: 0.5em;
    padding-right: 0.5em;

    /*
    float: left;
    width: 33%;
    */
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
    /* attempting to center it */
    margin: auto;
    width: 90%;
}

table td, th {
    padding: 5px;
    border: 1px solid blue;
}

table td {
    text-align: center;
}

table tr:nth-of-type(even) {
    background-color: #DFEDF8;
}

table tbody tr:hover {
    background-color: rgb(125, 0, 125);
    color: yellow;
}

.text {
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea {
    margin-bottom: 0.5em;
}

video {
    float: right;
    margin: 2em;
}

@media (width>= 600px) {
    form {
        width: 60%;
        display: grid;
        grid-template-columns: 10em 1fr;
        gap: 1em;
    }

    input[type=submit]{
        grid-column: 2/3;
        width: 9em;
    }

    #reshero {
        background-size: 100% 100%;
    }

    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 2em;
    }

    nav li {
        width: 12em;
        border-bottom: none;
    }

    secton {
        padding-left: 2em;
        padding-right: 2em;
    }

    #flow {
        display: flex;
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

    #homehero, #yurthero, #trailhero {
        background-size: 100% 100%;
    }
}

@media (width >= 1024px) {
    body {
        background-image: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
        background-repeat: no-repeat;
    }

    nav ul {
        padding-left: 10%;
        padding-right: 10%;
    }

    #wrapper {
        width: 80%;
        margin: auto;
    }
}